<!DOCTYPE html>
<html lang="en">

{{>links}}

<body>
    {{>navbar}}
    <div class="container">
        <img src="images/404error.svg" class="img-fluid" height="auto" type="svg">
    </div>
    {{>footer}}
</body>

</html>