<!DOCTYPE html>
<html lang="en">

{{>links}}
<body>
    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left header -->
                    <div class="col-md-6 main_header_right">
                        <figure>
                            <img src="/images/who.jpg" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 main_header_left">
                        <P>Weather app syed zaid husain</P>
                        <h1>Get leatest <span class="txt_clr">Weather</span> info</h1>
                        <p>Hii this is my project on how do we use the api keys and so on... I hope you like this web app.</p>
                        <a href="/weather"><button class="main_header_btn">Check now</button></a>
                    </div>
                    <!-- right header -->

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>