<div class="container-fluid main_menu" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="/"><i class="fas fa-snowflake"></i> ZaidWeather <i
                            class="fas fa-snowflake    "></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars custom_color"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link active mr-md-4" href="/">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link mr-md-4" href="/weather">Weather</a>
                            <a class="nav-item nav-link mr-md-4" href="/about">About</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>